<dialog id="delete-confirmation-dialog" class="delete-dialog">
    <section class="delete-dialog-content">
        <header>
            <h2 data-translation-key="deleteDialogTitle"></h2>
        </header>
        <div>
            <p data-translate-key="confirmDelete"></p>
        </div>
        <footer>
            <button class="btn btn-danger" id="confirmation-dialog-delete" data-translate-key="deleteButton">
                <span class="material-icons">delete</span>
            </button>
            <button class="btn btn-secondary" id="confirmation-dialog-cancel" data-translate-key="cancelButton">
                <span class="material-icons">cancel</span>
            </button>
        </footer>
    </section>
</dialog>