<dialog id="delete-confirmation-dialog" class="delete-dialog">
    <section class="delete-dialog-content">
        <header>
            <h2>Confirm Deletion</h2>
        </header>
        <div>
            <p>Are you sure you want to delete this?</p>
        </div>
        <footer>
            <button class="btn btn-danger" id="confirmation-dialog-delete">
                <span class="material-icons">delete</span>
                Delete
            </button>
            <button class="btn btn-secondary" id="confirmation-dialog-cancel">
                <span class="material-icons">cancel</span>
                Cancel
            </button>
        </footer>
    </section>
</dialog>