.btn-wrapper {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}

.btn {
    flex: 1;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 8px;
    background-color: var(--primary-color);
    color: var(--text-button-color);
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, transform 0.4s ease-in-out;
}

.btn:hover {
    background-color: var(--primary-hover-color);
    transform: scale(0.95);
}

.delete-btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: var(--danger-color);
    color: var(--text-button-color);
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.delete-btn:hover {
    background-color: var(--danger-hover-color);
    transform: scale(0.95);
}

.material-icons {
    font-size: 10px;
}
