.delete-dialog {
    width: 350px;
    max-width: 90%;
    border: none;
    border-radius: 12px;
    box-shadow: 0 8px 20px var(--box-shadow-color);
    padding: 25px;
    background: var(--dialog-background-color);
    text-align: center;
    position: fixed; /* Ensures it's always visible */
    top: 50%; /* Centers the dialog */
    left: 50%; /* Centers the dialog */
    transform: translate(-50%, -45%) scale(0.9); /* Initially hidden and smaller */
    z-index: 1000; /* Ensures it's above other elements */
    font-family: Arial, sans-serif;

    opacity: 0; /* Initially hidden */
    transition: opacity 0.3s ease, transform 0.3s ease; /* Smooth fade-in and scale effect */
}

.delete-dialog.opening {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1); /* Fully visible and centered */
}

.delete-dialog.closing {
    opacity: 0;
    transform: translate(-50%, -55%) scale(0.9); /* Slightly below and smaller when closing */
}

.delete-dialog-content h2 {
    margin-bottom: 20px;
    font-size: 20px;
    color: var(--text-color);
}

.delete-dialog-content p {
    margin-bottom: 20px;
    color: var(--text-secondary-color);
    font-size: 16px;
}

.delete-dialog footer {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.delete-dialog footer .btn {
    padding: 12px 24px;
    font-size: 14px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.btn-danger {
    background-color: var(--danger-color);
    color: var(--text-button-color);
}

.btn-danger:hover {
    background-color: var(--danger-hover-color);
    transform: scale(0.95);
}

.btn-secondary {
    background-color: var(--secondary-color);
    color: var(--text-button-color);
}

.btn-secondary:hover {
    background-color: var(--secondary-hover-color);
    transform: scale(0.95);
}

/* Backdrop for the dialog */
dialog::backdrop {
    background: var(--dimmed-overlay-color); /* Dimmed background */
    transition: background 0.3s ease; /* Smooth transition for backdrop */
}
