/* Reset styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Body styles */
body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    background-color: var(--body-background-color);
    color: var(--text-color);

    background-image: url("/assets/images/light-theme-bg.webp"); /* Adjust the path if necessary */
    background-size: cover; /* Ensures the image covers the entire viewport */
    background-repeat: no-repeat; /* Prevents tiling of the image */
    background-position: center center; /* Centers the image */
    background-attachment: fixed; /* Keeps the background fixed during scrolling */
}
